
body {
  
    background-color: lightblue;
  }

  h1
   {
    
    color: navy;
    margin-left: 20px;
    
  }
  h4
  {
   
   color: rgb(0, 104, 14);
   margin-left: 20px;
   
 }
 
header {
text-align: center;
}

h1 {
    border-style: solid;
    border-width: medium;
}